.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 10px 0;

  &-owner {
    align-self: end;
  }

  &-companion {
    align-self: start;
  }

  &-sender {
    color: gray;
    font-size: 12;
  }
}